/* TEAMMATE TWO EDITS THESE STYLES FOR YOUR TASKS */

.box-5 {
    text-align: center;
    background-image: linear-gradient(#e66465, #9198e5);
}

.box-5:hover {
    background-image: linear-gradient(green, blue);
}

.Rotating {
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#slidebar {
    position: absolute;
    bottom: -100px; 
    right: -100px;
    background-image: linear-gradient(red, orange);
    color: white;
    font-size: large;
    padding: 40px;
    border-radius: 10px;
    animation: movein 10s infinite;
}

@keyframes movein {
    0% {
        transform: translate(100%, 100%);
    }
    50% {
        transform: translate(-100px, -100px);
    }

    100% {
        transform: translate(100%, 100%);
    }

}